{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/tag/macro.njk" import govukTag %}

{% extends "template.njk" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back to tasks",
    href: "/tasks"
  }) }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ task.title }}</h1>

  {% if task.status == "TODO" %}
    {% set statusHtml %}{{ govukTag({ text: "To do", classes: "govuk-tag--grey" }) }}{% endset %}
  {% elif task.status == "IN_PROGRESS" %}
    {% set statusHtml %}{{ govukTag({ text: "In progress" }) }}{% endset %}
  {% else %}
    {% set statusHtml %}{{ govukTag({ text: "Done", classes: "govuk-tag--green" }) }}{% endset %}
  {% endif %}

  {{ govukSummaryList({
    rows: [
      {
        key: { text: "Title" },
        value: { text: task.title }
      },
      {
        key: { text: "Description" },
        value: { text: task.description if task.description else "None" }
      },
      {
        key: { text: "Status" },
        value: { html: statusHtml }
      },
      {
        key: { text: "Due date/time" },
        value: { text: task.dueDateTime }
      }
    ]
  }) }}

  {{ govukButton({
    text: "Update status",
    href: "/tasks/" + task.id + "/edit-status"
  }) }}

  <form method="post" action="/tasks/{{ task.id }}/delete">
    {{ govukButton({
      text: "Delete task",
      classes: "govuk-button--warning"
    }) }}
  </form>
{% endblock %}
